
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,600;1,400&family=Source+Sans+3:wght@300;400;500&display=swap');

$font-family-serif: 'Spectral', serif;
$font-family-sans-serif: 'Source Sans 3', sans-serif;

body {
  font-family: $font-family-sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-serif;
  font-weight: 500;
  letter-spacing: 0.015em;
}
